.menuSuperior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border: solid 1px rgba(255, 255, 255, 0.2);
    z-index: 1000;
}


.auxRedes {
    height: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.auxRedes a {
    height: 100%;
}

.auxRedes a img {
    height: 100%;
    object-fit: contain;
}

a img {
    transition: transform ease 0.1s;
}

a img:hover {
    transform: scale(1.1);
}

.secao1 {
    width: 100%;
    height: 90dvh;
    /* background-color: gray; */
    padding: 0px 40px;
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
}

.secao1 .background {
    background-color: white;
    flex: 1;
    min-width: 0;
    border-radius: 15px;
    background: url('../../assets/backgroundInicial.jpg') no-repeat center center;
    background-size: 100% auto;
    display: flex;
    overflow: hidden;
}

.secao1 .background .esquerda {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao1 .background .direita {
    /* background-color: gray; */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
}

.secao1 .background .direita h1,
.secao1 .background .direita h3 {
    backdrop-filter: blur(2px) brightness(70%);
    padding: 10px;
}

.secao1 .background .direita h1 {
    font-size: 50px;
}

.secao1 .background .direita h3 {
    font-weight: normal;
}

.logoPrincipal {
    height: 400px;
}

.secao2 {
    background-color: var(--corJanela);
    /* height: 90dvh; */
    margin-top: 40px;
    display: flex;
    box-sizing: border-box;
}

.secao2 .esquerda {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

.secao2 .esquerda h2 {
    width: 100%;
    font-size: 40px;
    font-family: 'Archivo Black', Arial;
    text-align: right;
}

.secao2 .esquerda h3 {
    width: 100%;
    /* font-weight: normal; */
    text-align: right;
    /* font-family: 'Dancing Script'; */
}

.secao2 .esquerda p {
    margin-top: 20px;
    text-align: right;
}

.secao2 .direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    /* background-color: gray; */
    box-sizing: border-box;
}

.blocoServiços {
    background-color: var(--corDestaque1);
    color: white;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.blocoServiços hr {
    background-color: white;
}

.secao3 {
    background: url('../../assets/new-red-brick-wall.jpg') no-repeat center center;
    background-size: 100% auto;
    width: 100%;
    height: 60dvh;
    overflow-y: auto;
    margin-top: 40px;
}

.secao3 .blocoServiços {
    height: 80%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
    border: solid 1px rgba(255, 255, 255, 0.3);
}

.auxBlocosServicos {
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
}

.tituloSecao4 {
    margin-top: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--corDestaque1);
    font-size: 25px;
}

.secao4 {
    height: 80dvh;
    width: 100%;
    display: flex;
    margin: 40px 0px;
}

/* .secao4 h1 {
    margin-bottom: 20px;
} */

.secao4 p {
    margin-bottom: 15px;
}

.secao4 .esquerda {
    height: 100%;
    width: 50%;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.auxiliarImagemDestaque {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.auxiliarImagemDestaque img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.secao4 .direita {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* padding: 20px; */
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    background-color: var(--corJanelaBack);
}

.auxiliarListaImagens {
    flex: 1;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;

    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.auxiliarListaImagens {
    overflow-y: auto;
}

/* largura da barra */
.auxiliarListaImagens::-webkit-scrollbar {
    width: 6px;
}

/* trilho */
.auxiliarListaImagens::-webkit-scrollbar-track {
    background: transparent;
}

/* parte que desliza */
.auxiliarListaImagens::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
}

/* hover */
.auxiliarListaImagens::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.imagemServicos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform ease 0.2s;
}

.imagemServicos:hover {
    transform: scale(1.05);
}

.rodape {
    /* height: 200px; */
    box-sizing: border-box;
    width: 100%;
    background-color: var(--corDestaque1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background: linear-gradient(0deg, #a3410c 0%, #E36C2A 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Open sans', Arial;
    padding: 20px;
}

.rodape hr {
    width: 85%;
}

.auxiliarFooter {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.footerAuxRedes {
    width: 130px;
    gap: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    flex: 1;
    min-width: 0;
}

.footerAuxRedes a img {
    width: 100%;
    object-fit: contain;
}

@media (max-width: 1040px) {
    .secao1 .background {
        background-size: auto 100%;
    }
}

@media (max-width: 800px) {
    .secao1 {
        padding: 0px;
    }

    .secao1 .background {
        border-radius: 0px;
        flex-direction: column;
    }

    .secao1 .background .esquerda {
        width: 100%;
        height: 50%;
    }

    .secao1 .background .esquerda img {
        height: 80%;
        width: auto;
    }

    .secao1 .background .direita {
        width: 100%;
        padding: 0px;
        display: flex;
    }

    .secao1 .background .direita h1 {
        font-size: 30px;
    }

    .secao2 {
        flex-direction: column;
        height: auto;
    }

    .secao2 .esquerda,
    .secao2 .direita {
        width: 100%;
    }

    .secao3 .blocoServiços {
        width: 250px;
        height: 80%;
    }

    .secao3 {
        height: 80dvh;
    }

    .secao3 {
        background-size: auto 100%;
    }

    .secao4 {
        flex-direction: column;
        height: auto;
        box-sizing: border-box;
    }

    .secao4 .esquerda,
    .secao4 .direita {
        width: 100%;
        box-sizing: border-box;
    }

    .secao4 .esquerda {
        align-items: center;
        justify-content: center;
        padding: 40px;
        height: 80dvh;
    }

    .auxiliarImagemDestaque {
        border-radius: 20px;
        margin: 0;
    }

    .secao4 .direita {
        height: 60dvh;
        border-radius: 0px;
    }

    .auxiliarListaImagens {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .auxiliarListaImagens img {
        height: 95%;
    }

    /* largura da barra */
    .auxiliarListaImagens::-webkit-scrollbar {
        width: 2px;
    }

    /* trilho */
    .auxiliarListaImagens::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    /* parte que desliza */
    .auxiliarListaImagens::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    /* hover */
    .auxiliarListaImagens::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
    }

    .auxiliarFooter {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 500px) {

    .menuSuperior .auxRedes {
        position: fixed;
        bottom: -85dvh;
        right: 20px;
        flex-direction: column;
        z-index: 1000;
    }

    .menuSuperior .auxRedes a {
        height: 30px;
    }

    .footerAuxRedes {
        display: none;
    }

    .auxiliarListaImagens::-webkit-scrollbar {
        display: grid;
    }

    .secao4 .esquerda {
        display: none;
    }
}