.barraSuperiorContato {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 40px;
    background-color: var(--corDestaque2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao1 {
    display: flex;
    height: 90dvh;
    box-sizing: border-box;
}

.secao1 .esquerda {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.secao1 .direita {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;

}

/* .titulo {
    font-size: 45px;
} */

.subtitulo {
    /* font-style: italic; */
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
}

.logoWMP {
    width: 80%;
}

.divisaoSecao1 {
    width: 100%;
    background-color: var(--corDestaque1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-top: solid 6px white;
    border-bottom: solid 6px white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.secao2 {
    display: flex;
}

.secao2 .imagemLonga {
    width: 60%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.secao2 .imagemLonga img {
    object-fit: contain;
    /* width: 100%; */
    height: 100%;
}

.secao2 .direita {
    /* background-color: gray; */
    /* padding: 20px; */
    box-sizing: border-box;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.blocoItemServico {
    /* background-color: gray; */
    /* border: solid 1px var(--corTexto); */
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.pBlocoServico {
    font-family: "Archivo Black", sans-serif;
}

.blocoItemServico .auxImagem {
    /* border: solid 1px var(--corTexto); */
    /* height: 100%; */
    width: 100%;
    overflow: hidden;
}

.blocoItemServico .auxImagem img {
    /* height: 100%; */
    width: 100%;
    /* object-fit: contain; */
}

@media (max-width: 1200px) {
    .titulo {
        font-size: 30px;
    }

    .secao2 .direita {
        width: 50%;
    }

    .secao2 .imagemLonga {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .secao1 {
        flex-direction: column;
    }

    .secao1 .esquerda {
        width: 100%;
        height: 60%;
    }

    .logoWMP {
        width: auto;
        object-fit: contain;
        height: 100%;
    }

    .secao1 .direita {
        width: 100%;
        height: 40%;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        padding: 0px 20px;
    }

}