p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

html,
.root,
main,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100dvh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--corJanela);
  color: var(--corTexto);
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

select {
  padding: 5px;
  border: none;
  background-color: var(--corJanela);
}

:root {
  --corDestaque1: #E36C2A;
  --corJanela: rgb(247, 248, 235);
  --corDestaque2: black;
  --corTexto: rgb(28, 28, 28);
}